@{
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>@Html.MetaTitle(ViewBag.Title != null ? (string)ViewBag.Title : "")</title>
    <meta http-equiv="Content-type" content="text/html; chartset=utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Front/css/print.css")" />
</head>
<body class="print-document">
    @RenderBody()
</body>
</html>