<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} ${threadid:padding=3} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=tostring}"
            fileName="${basedir}/logs/${shortdate}.txt"/>

    <target xsi:type="EventLog"
            name="eventlog"
            layout="${message}${newline}${exception:format=ToString}"/>

    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=HH:MM:ss} ${threadid:padding=3} ${logger:padding=-30} ${message}" />
  </targets>
  <rules>
    <logger name="*" writeTo="file,console" minlevel="Trace" />
    <logger name="*" writeTo="eventlog" minlevel="Error" />
  </rules>
</nlog>