<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
    </sectionGroup>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Site Settings -->
    <add key="SiteName" value="Dans Les Golfs" />
    <add key="SiteUrl" value="DansLesGolfs.com" />
    <add key="SiteDescription" value="green fee, leçon et séjour de golf, carte de practice" />
    <add key="SiteEmail" value="kenessar@gmail.com" />
    <add key="FBAppId" value="331809983580257" />
    <add key="FBAppSecret" value="037f21b56f7b852a6d9f7ba6ceb4af89" />
    <add key="SMTPServer" value="localhost" />
    <add key="SMTPUsername" value="localhost" />
    <add key="SMTPPassword" value="localhost" />
    <add key="UploadDirectory" value="Uploads" />
    <add key="ThumbnailWidth" value="150" />
    <add key="ThumbnailHeight" value="150" />
    <add key="SmaillImageWidth" value="240" />
    <add key="SmaillImageHeight" value="240" />
    <add key="MediumImageWidth" value="600" />
    <add key="MediumImageHeight" value="600" />
    <add key="LargeImageWidth" value="1024" />
    <add key="LargeImageHeight" value="1024" />
    <add key="RelatedProductsPageSize" value="4" />
    <add key="RelatedDLGProductsPageSize" value="3" />
    <add key="ProductListPageSize" value="10" />
    <add key="DLGProductListPageSize" value="12" />
    <add key="DefaultLatitude" value="47" />
    <add key="DefaultLongitude" value="2" />
    <add key="UnsubscribeLink" value="http://www.danslesgolfs.com/unsubscribe" />
    <!-- Shop Settings -->
    <add key="PaypalBusinessEmail" value="business@danslesgolfs.com" />
    <add key="UsePaypalSandbox" value="true" />
    <!-- Global SMTP Settings -->
    <add key="SMTPHost" value="mail.infogrammer.com" />
    <add key="SMTPPort" value="587" />
    <add key="FromEmailAddress" value="noreply@infogrammer.com" />
    <add key="FromEmailPassword" value="Info1234" />
    <add key="DefaultSenderName" value="Dans les Golfs" />
    <add key="DefaultSenderEmail" value="noreply@infogrammer.com" />
    <!-- Paypal Settings -->
    <add key="PaypalCheckCount" value="10" />
    <add key="PaypalCheckInterval" value="1000" />
    <!-- Lydia Payment -->
    <add key="LydiaUrl" value="https://lydia-app.com/" />
    <add key="LydiaVendorToken" value="5527a88d4e6de292555288" />
    <add key="LydiaPrivatekey" value="94uFtB1mHw" />
    <!-- Google API Key -->
    <add key="GoogleAPIKey" value="602685636541-gcg15toe6u9cnr68io1utqmfcf87j2gb.apps.googleusercontent.com" />
    <!-- Albatros Web Service -->
    <add key="AlbatrosWebServiceUrl" value="https://test-aws01.albatros.net/albport/services/ExtBooking" />
    <add key="AlbatrosUsername" value="DLG_WS" />
    <add key="AlbatrosPassword" value="bN94uh01a7" />
    <add key="AlbatrosProtocol" value="Tls" />
    <!-- PrimaGolf Web Service -->
    <add key="PrimaWebServiceUrl" value="http://api.primagolf.fr/v1/" />
    <add key="PrimarAPIKey" value="XmENUVu7wYCAEK7mjbP8QFhw92JCuAmc" />
    <add key="PrimaClubKey" value="QgAkTk34WmVHB5tGmYF4GyCkVhY5mtT3" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="ConnectionString" connectionString="Server=(local);Uid=dlg;Pwd=admin123!;Database=DLG;" />
    <add name="ECMConnectionString" connectionString="Server=(local);Uid=dlg;Pwd=admin123!;Database=ECM;" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="fr" uiCulture="fr" />
    <customErrors defaultRedirect="~/Error" mode="RemoteOnly">
      <error statusCode="500" redirect="~/Error" />
    </customErrors>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" buffer="true" enableViewState="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="DansLesGolfs.Base" />
        <add namespace="DansLesGolfs.BLL" />
        <add namespace="DansLesGolfs.Data" />
        <add namespace="Resources" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ThumbnailCache" duration="31536000" varyByParam="*" />
          <add name="Long" duration="605500" varyByParam="*" />
          <add name="Medium" duration="86400" varyByParam="*" />
          <add name="Short" duration="3600" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ManagedDllExtension" path="*.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="DevExpress.Web.ASPxUploadProgressHttpHandler" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" />
      <add name="DevExpress.Web.ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <httpCompression directory="C:\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtBookingSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="ExtBookingSOAP11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ExtBookingSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://test-aws01.albatros.net/albport/services/ExtBooking" binding="basicHttpBinding" bindingConfiguration="ExtBookingSOAP11Binding" contract="Albatros.ExtBookingPortType" name="ExtBookingSOAP11port_https" />
      <endpoint address="http://test-aws01.albatros.net:8080/albport/services/ExtBooking" binding="basicHttpBinding" bindingConfiguration="ExtBookingSOAP11Binding1" contract="Albatros.ExtBookingPortType" name="ExtBookingSOAP11port_http1" />
      <endpoint address="https://test-aws01.albatros.net/albport/services/ExtBooking" binding="customBinding" bindingConfiguration="ExtBookingSOAP12Binding" contract="Albatros.ExtBookingPortType" name="ExtBookingSOAP12port_https" />
      <endpoint address="http://test-aws01.albatros.net:8080/albport/services/ExtBooking" binding="customBinding" bindingConfiguration="ExtBookingSOAP12Binding" contract="Albatros.ExtBookingPortType" name="ExtBookingSOAP12port_http1" />
    </client>
  </system.serviceModel>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="DevEx" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" />
  </devExpress>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
  </dotNetOpenAuth>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>