@model DansLesGolfs.BLL.User
@{
    ViewBag.Title = Resources.RecoverPassword;
    Layout = "~/Views/_Shared/MP/_EmailTemplate.cshtml";
}
<div id="email-recover-password">
    <h1>@Resources.RecoverPassword</h1>
    <p>Your Email : @Model.Email</p>
    <p>Your Password : @Model.Password</p>
</div>