<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Site Settings -->
    <add key="SiteName" value="Dans Les Golfs" />
    <add key="SiteDescription" value="green fee, leçon et séjour de golf, carte de practice" />
    <add key="FBAppId" value="" />
    <add key="FBAppSecret" value="" />
    <add key="SMTPServer" value="mail.infogrammer.com" />
    <add key="SMTPUsername" value="" />
    <add key="SMTPPassword" value="" />
    <add key="UploadDirectory" value="Uploads" />
    <add key="ThumbnailWidth" value="150" />
    <add key="ThumbnailHeight" value="150" />
    <add key="SmaillImageWidth" value="240" />
    <add key="SmaillImageHeight" value="240" />
    <add key="MediumImageWidth" value="600" />
    <add key="MediumImageHeight" value="600" />
    <add key="LargeImageWidth" value="1024" />
    <add key="LargeImageHeight" value="1024" />
    <add key="RelatedProductsPageSize" value="4" />
    <add key="RelatedDLGProductsPageSize" value="3" />
    <add key="ProductListPageSize" value="10" />
    <add key="DLGProductListPageSize" value="12" />
    <add key="DefaultLatitude" value="47" />
    <add key="DefaultLongitude" value="2" />
    <add key="UnsubscribeLink" value="http://www.danslesgolfs.com/unsubscribe" />
    <add key="OnWebLink" value="http://www.danslesgolfs.com/email" />
    <!-- Shop Settings -->
    <add key="PaypalBusinessEmail" value="business@DLGEmail.com" />
    <add key="UsePaypalSandbox" value="true" />
    <!-- Global SMTP Settings -->
    <add key="SMTPHost" value="mail1.ngf-golf.com" />
    <add key="SMTPPort" value="587" />
    <add key="FromEmailAddress" value="contact@danslesgolfs.com" />
    <add key="FromEmailPassword" value="some-password" />
    <add key="DefaultSenderName" value="Dans les Golfs" />
    <add key="DefaultSenderEmail" value="contact@danslesgolfs.com" />
    <!-- Paypal Settings -->
    <add key="PaypalCheckCount" value="10" />
    <add key="PaypalCheckInterval" value="1000" />
    <!-- API Payment -->
    <add key="APIPaymentMerchantId" value="039983585900063" />
    <!-- Google API Key -->
    <add key="GoogleAPIKey" value="602685636541-gcg15toe6u9cnr68io1utqmfcf87j2gb.apps.googleusercontent.com" />
    <!-- Netmessage -->
    <add key="NetmessageFTPServer" value="ftp.netmessage.com" />
    <!-- Chronogolf -->
    <add key="ChronogolfTokenUrl" value="https://chronogolf.danslesgolfs.com/token" />
    <add key="ChronogolfTokenSecret" value="some-key" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=(local);Uid=sa;Pwd=admin123!;Database=ECM;" />
    <add name="EntityConnectionString" connectionString="metadata=res://*/Entities.DLGModel.csdl|res://*/Entities.DLGModel.ssdl|res://*/Entities.DLGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ECM;user id=sa;password=admin123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
     <sessionState timeout="60"></sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
</configuration>