<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="server=46.105.15.141;uid=sa;pwd=admin123!;database=ECM"/>
    <add key="ServerPath" value=""/>
    <!--<add key="Host" value="smtp.strato.de"/>
    <add key="Port" value ="25"/>
    <add key="Username" value="newletter@Nutzinger-kg.de"/>
    <add key="Password" value="inconn"/>-->
    
    <!--<add key="host" value="smtp.gmail.com" />
    <add key="userName" value="j.Nutzinger@gmail.com" />
    <add key="password" value="goodday999" />
    <add key="Port" value="587" />-->
    
    <!--<add key="host" value="smtp.gmail.com" />
    <add key="userName" value="j.Nutzinger@gmail.com" />
    <add key="password" value="goodday999" />
    <add key="Port" value="587" />-->

    <add key="Host" value="mail.infogrammer.com"/>
    <add key="Port" value="587"/>
    <add key="Username" value="noreply@infogrammer.com"/>
    <add key="Password" value="Info1234"/>
    
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="smtp.gmail.com" port="587" password="6597404" userName="easyrestaurant@gmail.com"/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
