/* 404 page */
.page-no-permission {
 	text-align: center;
 	padding-top: 100px;
 	padding-bottom: 108px;
}
.page-no-permission .title {
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 72px;
	font-size: 72px;
	font-weight: 300;
	color: #d80927;
	text-align: center;
}
.page-no-permission .details {
	margin-left: 40px;
	display: inline-block;
	padding-top: 40px;
	text-align: left;
    text-align: center;
}